<!-- banner -->
	<div class="banner">
		<div class="container">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-info">
								<div class="banner-info1">
									<h3>culpa qui officia deserunt mollit anim</h3>
									<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="banner-info1">
									<h3>vel illum qui dolorem eum fugiat quo</h3>
									<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
								</div>
							</div>
						</li>
						<li>
							<div class="banner-info">
								<div class="banner-info1">
									<h3>qui in ea voluptate velit esse quam</h3>
									<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>

		</div>
	</div>
<!-- //banner -->

<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-5 banner-bottom-left">
				<h2>Créer un style moderne avec nous</h2>
			</div>
			<div class="col-md-7 banner-bottom-right">
				<p>Enzo Cuisine met à votre disposition toute son expérience
          et son savoir-faire pour satisfaire vos besoins en matière de
          cuisine, dressing et meuble SDB. Avec un choix varié de
          texture, de matière et de couleurs, nous avons une vaste
          gamme de produits à vous proposer. Un design contemporain
          ou traditionnel, simple ou osé, vous trouverez le modèle qui
          vous parle le plus. Toute notre équipe est à l’écoute de vos
          exigences et vos envies. soyez les bienvenues pour plus de
          détails et surtout pour profiter de nos tarifs compétitifs.</p>
          <p>POURQUOI CHOISIR ENZO CUISINE</p>
				<ol>
					<li>X ANS D’HISTOIRE</li>
					<li>UNE QUALITÉ CERTIFIÉE</li>
					<li>UN DESIGN UNIQUE</li>
					<li>UN ENGAGEMENT DURABLE</li>
					<li>DES TECHNOLOGIES INNOVANTES</li>
				</ol>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //banner-bottom -->

<!-- team -->
	<div class="team">
		<div class="container">
			<h3 class="team-heading">Rencontrez notre équipe</h3>
			<p class="sint"><span>Notre équipe et toujours avec vous</span></p>
			<div class="team-grids">
				<div class="col-md-3 team-grid">
					<div class="team-grid1">
						<img src="images/2.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							<div class="event-meta">
								<h4>unde omnis iste natus error sit voluptatem</h4>
							</div>
						</div>
					</div>
					<h5>Laura Mark<span>Sales Manager</span></h5>
					<ul class="social">
						<li><a class="social-facebook" href="#">
							<i></i>
							<div class="tooltip"><span>Facebook</span></div>
							</a></li>
						<li><a class="social-twitter" href="#">
							<i></i>
							<div class="tooltip"><span>Twitter</span></div>
							</a></li>
						<li><a class="social-google" href="#">
							<i></i>
							<div class="tooltip"><span>Google+</span></div>
							</a></li>
					</ul>
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-grid1">
						<img src="images/3.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							<div class="event-meta">
								<h4>unde omnis iste natus error sit voluptatem</h4>
							</div>
						</div>
					</div>
					<h5>Joseph Ali<span>Manager</span></h5>
					<ul class="social">
						<li><a class="social-facebook" href="#">
							<i></i>
							<div class="tooltip"><span>Facebook</span></div>
							</a></li>
						<li><a class="social-twitter" href="#">
							<i></i>
							<div class="tooltip"><span>Twitter</span></div>
							</a></li>
						<li><a class="social-google" href="#">
							<i></i>
							<div class="tooltip"><span>Google+</span></div>
							</a></li>
					</ul>
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-grid1">
						<img src="images/4.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							<div class="event-meta">
								<h4>unde omnis iste natus error sit voluptatem</h4>
							</div>
						</div>
					</div>
					<h5>Federick Chris<span>Sales Manager</span></h5>
					<ul class="social">
						<li><a class="social-facebook" href="#">
							<i></i>
							<div class="tooltip"><span>Facebook</span></div>
							</a></li>
						<li><a class="social-twitter" href="#">
							<i></i>
							<div class="tooltip"><span>Twitter</span></div>
							</a></li>
						<li><a class="social-google" href="#">
							<i></i>
							<div class="tooltip"><span>Google+</span></div>
							</a></li>
					</ul>
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-grid1">
						<img src="images/5.jpg" alt=" " class="img-responsive" />
						<div class="p-mask">
							<p>Neque porro quisquam est, qui dolorem ipsum.</p>
							<div class="event-meta">
								<h4>unde omnis iste natus error sit voluptatem</h4>
							</div>
						</div>
					</div>
					<h5>Adam Smith<span>Sales Manager</span></h5>
					<ul class="social">
						<li><a class="social-facebook" href="#">
							<i></i>
							<div class="tooltip"><span>Facebook</span></div>
							</a></li>
						<li><a class="social-twitter" href="#">
							<i></i>
							<div class="tooltip"><span>Twitter</span></div>
							</a></li>
						<li><a class="social-google" href="#">
							<i></i>
							<div class="tooltip"><span>Google+</span></div>
							</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
<!-- //team -->
<!-- services -->
	<div class="services">
		<div class="container">
			<h3>Services</h3>
			<p class="sint"><span>L'expertise à satisfaire le client</span></p>
			<div class="services-grids">
				<div class="col-md-4 services-grid">
					<i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
					<div class="service-icon color-11">
						<a class="link link--yaku" href="single.html">
							<span>P</span><span>r</span><span>o</span><span>f</span><span>i</span><span>t</span>
						</a>
					</div>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
						voluptatibus maiores.</p>
					<div class="more">
						<a href="single.html" class="hover hover-translate transtale-left">
							Learn More...
						</a>
					</div>
				</div>
				<div class="col-md-4 services-grid">
					<i class="glyphicon glyphicon-lamp" aria-hidden="true"></i>
					<div class="service-icon color-11">
						<a class="link link--yaku" href="single.html">
							<span>N</span><span>o</span><span>u</span><span>v</span><span>e</span><span>a</span><span>u</span> <span> </span><span>d</span><span>e</span><span>s</span><span>i</span><span>g</span><span>n</span><span>s</span>
						</a>
					</div>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
						voluptatibus maiores.</p>
					<div class="more">
						<a href="single.html" class="hover hover-translate transtale-left">
							Learn More...
						</a>
					</div>
				</div>
				<div class="col-md-4 services-grid">
					<i class="glyphicon glyphicon-saved" aria-hidden="true"></i>
					<div class="service-icon color-11">
						<a class="link link--yaku" href="single.html">
							<span>Q</span><span>u</span><span>a</span><span>l</span><span>i</span><span>t</span><span>é</span>
						</a>
					</div>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
						voluptatibus maiores.</p>
					<div class="more">
						<a href="single.html" class="hover hover-translate transtale-left">
							Learn More...
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-grids">
				<div class="col-md-4 services-grid">
					<i class="glyphicon glyphicon-home" aria-hidden="true"></i>
					<div class="service-icon color-11">
						<a class="link link--yaku" href="single.html">
							<span>L</span><span>i</span><span>v</span><span>r</span><span>a</span><span>i</span><span>s</span><span>o</span><span>n</span>
						</a>
					</div>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
						voluptatibus maiores.</p>
					<div class="more">
						<a href="single.html" class="hover hover-translate transtale-left">
							Learn More...
						</a>
					</div>
				</div>
				<div class="col-md-4 services-grid">
					<i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
					<div class="service-icon color-11">
						<a class="link link--yaku" href="single.html">
							<span>i</span><span>m</span><span>a</span><span>g</span><span>e</span><span>-</span><span>d</span><span>e</span><span>-</span><span>m</span><span>a</span><span>r</span><span>q</span><span>u</span><span>e</span>
						</a>
					</div>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
						voluptatibus maiores.</p>
					<div class="more">
						<a href="single.html" class="hover hover-translate transtale-left">
							Learn More...
						</a>
					</div>
				</div>
				<div class="col-md-4 services-grid">
					<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
					<div class="service-icon color-11">
						<a class="link link--yaku" href="single.html">
							<span>C</span><span>l</span><span>i</span><span>e</span><span>n</span><span>t</span><span>è</span><span>l</span><span>e</span>
						</a>
					</div>
					<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
						voluptatibus maiores.</p>
					<div class="more">
						<a href="single.html" class="hover hover-translate transtale-left">
							Learn More...
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //services -->
<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="team-heading">Ce que disent notre clientèle</h3>
			<p class="sint"><span></span></p>
			<div class="testimonials-grids">
				<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
										<img src="images/1.png" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Richard Doe</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
										<img src="images/3.png" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Rita James</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
										<img src="images/2.png" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Crisp Ali</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="banner-wrap">
								<div class="testimonials-grid">
									<div class="col-xs-3 testimonials-grid-left">
										<img src="images/4.png" alt=" " class="img-responsive" />
									</div>
									<div class="col-xs-9 testimonials-grid-right">
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
											praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
											excepturi sint occaecati cupiditate non provident.</p>
										<h4>Laura roy</h4>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</article>
					</div>
				</div>
							<script src="js/jquery.wmuSlider.js"></script>
								<script>
									$('.example1').wmuSlider();
								</script>
			</div>
		</div>
	</div>
	<div class="newsletter">
		<div class="container">
			<h3>inscrivez-vous à notre catalogue</h3>
			<p>Notre catalogue contient les nouveaux produits et modèle et les promotions.</p>
			<form action="#" method="post">
				<input type="email" name="Email" value="Saisir votre adresse mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email to update';}" required="">
				<input type="submit" value="Inscription">
			</form>
		</div>
	</div>
<!-- //testimonials -->
